---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Arthur Dell - Always ON DEMAND! 🚀
	<p>Life's too short for ordinary adventures!</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	
	footer p {
		margin-top: 0.5em;
		font-style: italic;
		opacity: 0.8;
	}
</style>
